datacenter = "dc1"
data_dir = "/opt/consul"
encrypt = "{{consul_key}}"
advertise_addr = "{{ansible_facts.eth1.ipv4.address}}"
bind_addr = "{{ansible_facts.eth1.ipv4.address}}"

retry_join = ["192.168.56.10"]

connect {
  enabled = true
}

addresses {
  grpc = "127.0.0.1"
}

ports {
  grpc  = 8502
}