datacenter = "dc1"
data_dir = "/opt/consul"
encrypt = "{{consul_key}}"
advertise_addr = "{{ansible_facts.eth1.ipv4.address}}"
bind_addr = "{{ansible_facts.eth1.ipv4.address}}"

retry_join = ["192.168.33.10"]

connect {
    enabled = true
}

ports {
    grpc = 8502
}
