datacenter = "dc1"
data_dir = "/opt/nomad"
bind_addr = "{{ansible_facts.eth1.ipv4.address}}"

client {
  enabled = true
  network_interface = "eth1"
}

plugin "docker" {
  config {
    volumes {
      enabled = true
    }
  }
}
