server {
  enabled = true
  bootstrap_expect = 1
}

ui {
  enabled =  true

  consul {
    ui_url = "http://192.168.56.10:8500/ui"
  }

  vault {
    ui_url = "http://192.168.56.10:8200/ui"
  }

  label {
    text = "HashiCorp Lab"
  }
}
