listener "tcp" {
  address = "{{ansible_facts.eth1.ipv4.address}}:8200"
  tls_disable = true
}

storage "consul" {}

api_addr = "http://{{ansible_facts.eth1.ipv4.address}}:8200"
cluster_addr = "https://{{ansible_facts.eth1.ipv4.address}}:8201"
ui = true
disable_mlock = true